<html>

<head>
    <title>Onboarding Complete</title>
</head>

<body style="margin: 0px auto; display: table;">
<table
        style="background-color: #325AEC; padding: 20px 100px; width: 900px; max-width: 900px; font-family: 'Open Sans', Arial, sans-serif;">
    <thead>
    <tr>
        <th style="text-align: left; padding-bottom: 20px; padding-top: 20px;">
            <img alt="revinci logo" style="width: 120px; height: auto;"
                 src=""/>
        </th>
    </tr>
    <tr>
        <th style="text-align: left; color: #ffffff; font-size: 15px; font-weight: 500; line-height: 19px;">
            Dear ${tenantContact}, <br/>
            Your onboarding request for revinci platform has been completed.
        </th>
    </tr>
    </thead>
    <tbody style="text-align: left;">
    <tr>
        <td style="font-size: 15px; line-height: 24px; color: #ffffff; font-weight: 600; padding-top: 20px; padding-bottom: 5px;">
            Email / Username: ${email}
        </td>
    </tr>
    <tr>
        <td style="font-size: 15px; line-height: 24px; color: #ffffff; font-weight: 600; padding-top: 5px; padding-bottom: 20px;">
            Password: ${password}
        </td>
    </tr>
    <tr>
        <td style="font-size: 15px; line-height: 19px; color: #ffffff; font-weight: 500; ">Clicking the Login button will prompt you to reset your password. Once the password is reset, you can log in to the application.
        </td>
    </tr>
    <tr>
        <td style="padding-top: 40px; padding-bottom: 40px;">
            <a href="${realmApplicationUrl}" target="_blank"
               style="background-color: #ffffff; border-radius: 6px; font-size: 15px; line-height: 19px; padding: 8px 22px; color: #325AEC; text-decoration: none; font-weight: 600;">Login</a>
        </td>
    </tr>
    <tr>
        <td style="padding-bottom: 40px;">
            <p style="font-size: 15px; line-height: 19px; color: white; text-decoration: none; font-weight: 500;">
                Thanks & Regards,<br/>
                revinci&#46;ai Support Team
            </p>
        </td>
    </tr>
    <tr>
        <td style="border-top: 1px solid #A6A9B6;">
            <table style="display: flex; flex-direction: row; justify-content: space-between;">
                <tbody style="width: 100%;">
                <tr style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
                    <td>
                        <a href="mailto:support@revinci.ai"
                           style="color: #ffffff; font-weight: 600; font-size: 14px; line-height: 24px; text-decoration: none;">support&#64;revinci&#46;ai</a>
                    </td>
                    <td style="color: #ffffff; font-weight: 400; font-size: 14px; line-height: 24px;">
                        Copyrights reserved - 2025, revinci.ai
                    </td>
                </tr>
                </tbody>
            </table>

        </td>
    </tr>
    </tbody>
</table>
</body>

</html>